<div class="container ">

    <div class="row versusContainer">
        <div *ngIf="player1" class="col-xs-12 col-md-5" (click)="removePlayer1()">
            <player-card-large [player]="player1"></player-card-large>
        </div>
        <div *ngIf="!player1" class="col-xs-12 col-md-5">
            <div class="emptyPlayer verticalAlign center-block"><p>Player 1</p></div>
        </div>

        <div class="col-xs-12 col-md-2 verticalAlign versusText">vs</div>

        <div *ngIf="player2" class="col-xs-12 col-md-5" (click)="removePlayer2()">
            <player-card-large [player]="player2"></player-card-large>
        </div>
        <div *ngIf="!player2" class="col-xs-12 col-md-5">
            <div class="emptyPlayer verticalAlign center-block"><p>Player 2</p></div>
        </div>
    </div>

    <div class="loadingWheel" *ngIf="!players">
        <img src="../../assets/images/loading.svg" >
    </div>

    <div class="row" *ngIf="!(player1 && player2) && players">
        <div *ngFor="let player of players | orderByName" class="col-md-4 col-lg-3">
            <player-card-small (click)="addPlayer(player)" [player]="player"></player-card-small>
        </div>
    </div>

    <button class="btn-default btn-lg" *ngIf="player1 && player2" (click)="nextPage()">Start</button>
    <!--<PRE>{{players|json}}</PRE>-->
</div>
