<div class="table-header" id="active-header">Ranked</div>
<table class="table leaderboards" *ngIf="activePlayers">
    <tr>
        <th>Rank</th>
        <th>Player</th>
        <th>Rating</th>
    </tr>
    <tr *ngFor="let player of activePlayers | orderByRank; let i = index">
        <td>{{i+1}}</td>
        <td>{{player.name}}</td>
        <td>{{player.rating}}</td>
    </tr>
</table>


<div class="table-header" id="inactive-header">Inactive (less than {{PLACEMENT_GAMES_REQUIRED}} games played)</div>
<table class="table leaderboards" *ngIf="inactivePlayers">
    <tr>
        <th>Rank</th>
        <th>Player</th>
        <th>Rating</th>
    </tr>
    <tr *ngFor="let player of inactivePlayers">
        <td>-</td>
        <td>{{player.name}}</td>
        <td>{{player.rating}}</td>
    </tr>
</table>
